<body class="bckbody">
    <p>log-in works!</p>
<div class="logpa">
    <h2 class="heading">Login Page</h2>
    <input type="text" placeholder="Enter your UserName" class="inputbox"><br><br>
    <input type="password" placeholder="Enter your password" class="inputbox"><br><br>
    <button class="logbttn"> Login </button><br><br>
    <a href="#">Forgget Password?</a><br><br>
    <a href="#" ><button class="signbttn">Create New Account</button></a>

</div>
<div class="border">
    <h1 class="ntbook">{{myname}} </h1>
<p>Connect with friends and the world around you on Notebook</p>

</div>


</body>